.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 100px;
    padding-top: 48px;
}

.black-btn {
    padding: 8px 24px;
    background-color: $black-color;
    border-radius: 14px;
    color: #fff;
    display: flex;
    column-gap: 8px;
    align-items: center;
    &:hover{
        opacity: .8;
    }
}

.to-products {
    margin-bottom: 16px;
    padding: 8px;
    display: inline-flex;
    column-gap: 8px;
    align-items: center;
    cursor: pointer;
}

.rating {
    margin-top: 8px;
    padding: 16px 8px;
    display: inline-flex;
    column-gap: 24px;
    &__stars {
        display: flex;
        column-gap: 8px;
        &>* {
            width: 24px;
            height: 24px;
        }
    }
    &__value {
        letter-spacing: -0.4px;
        color: $green-color;
    }
}

.activated {
    display: block !important;
}

.deactivated {
    display: none !important;
}